/Game/ProjectSpace/DirectShow/obj
/Game/ProjectSpace/DirectShow/bin
/Game/ProjectSpace/ColladaImport/obj
/Game/ProjectSpace/ColladaImport/bin
/Game/ProjectSpace/DragonOgg/obj
/Game/ProjectSpace/DragonOgg/bin
/Game/ProjectSpace/Gwen/obj
/Game/ProjectSpace/Gwen/bin
/Game/ProjectSpace/Jitter/obj
/Game/ProjectSpace/Jitter/bin
/Game/ProjectSpace/Lidgren.Network/obj
/Game/ProjectSpace/Lidgren.Network/bin
/Game/ProjectSpace/LuaInterface/obj
/Game/ProjectSpace/LuaInterface/bin
/Game/ProjectSpace/OutpostOmega.Error/obj
/Game/ProjectSpace/OutpostOmega.Error/bin
/Game/ProjectSpace/OutpostOmega.ModMaker/obj
/Game/ProjectSpace/OutpostOmega.ModMaker/bin
/Game/ProjectSpace/ProjectSpace/obj
/Game/ProjectSpace/ProjectSpace/bin
/Game/ProjectSpace/ProjectSpace.Data/obj
/Game/ProjectSpace/ProjectSpace.Data/bin
/Game/ProjectSpace/ProjectSpace.Game/obj
/Game/ProjectSpace/ProjectSpace.Game/bin
/Game/ProjectSpace/ProjectSpace.Launcher/obj
/Game/ProjectSpace/ProjectSpace.Launcher/bin
/Game/ProjectSpace/ProjectSpace.Network/obj
/Game/ProjectSpace/ProjectSpace.Network/bin
/Game/ProjectSpace/ProjectSpace.Server/obj
/Game/ProjectSpace/ProjectSpace.Server/bin
/Game/ProjectSpace/ProjectSpace.Test/obj
/Game/ProjectSpace/ProjectSpace.Test/bin
/Game/ProjectSpace/ProjectSpace.Updateserver/obj
/Game/ProjectSpace/ProjectSpace.Updateserver/bin
/Game/ProjectSpace/ScintillaNET/obj
/Game/ProjectSpace/ScintillaNET/bin
/Game/ProjectSpace/UnitTest/obj
/Game/ProjectSpace/UnitTest/bin
/Game/ProjectSpace/Unity
/Game/Binaries
