<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutpostOmega.Launcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutpostOmega.Launcher.Settings>
            <setting name="launcherdaturl" serializeAs="String">
                <value>http://server.outpost-omega.com/launcher/Launcher.xml</value>
            </setting>
            <setting name="newsurl" serializeAs="String">
                <value>http://www.outpost-omega.com/launchnews.php</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>Initial</value>
            </setting>
            <setting name="launchfile" serializeAs="String">
                <value>game\OutpostOmega.exe</value>
            </setting>
        </OutpostOmega.Launcher.Settings>
    </userSettings>
</configuration>